doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    != tml_scripts()

  body(data-spy='scroll', data-target='#nav-categories')
    include partials/header
    block content
    include partials/footer
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/bootstrap.min.js')