<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" dir="ltr">

<head>
  <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />

  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="google" value="notranslate">
  <title>Welp</title>

  <link rel="stylesheet" href="/stylesheets/style.css">

  <script src="/javascripts/jquery.min.js" type="text/javascript"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
  <script src="/javascripts/underscore.min.js"></script>
  <!--<script src="//cdn.translationexchange.com/tml.js"></script>-->
  <!--<script src="http://localhost:8080/tml.js"></script>-->
  <script src="https://cdn.translationexchange.com/tools/tml/stable/tml.min.js"></script>

  <script>
    var restaurants = [
      {
        "name": "Ricky's Fish Tacos",
        "rating": 4,
        "review_count": 14,
        "last_comment": "Luckily, the perfect hot day food is a fish taco."
      },
      {
        "name": "Genwa Korean Bbq",
        "rating": 3,
        "review_count": 567,
        "last_comment": "I love love love the fact that you get 25 side dishes."
      },
      {
        "name": "Kang Hodong Baekjeong",
        "rating": 2,
        "review_count": 1,
        "last_comment": "Thick slices of juicy pastrami on rye hits the spot every time."
      },
      {
        "name": "Guisados",
        "rating": 1,
        "review_count": 14,
        "last_comment": "I can't wait to introduce more people to these orgasmic tacos."
      }
    ];

    var users = {
      michael: {"name": "Michael", gender: "male"},
      anna: {"name": "Anna", gender: "female"},
      tom: {"name": "Tom", gender: "male"},
      alex: {"name": "Alex", gender: "male"},
      tina: {"name": "Tina", gender: "female"}
    };

    var translateName = function(obj) { return tr(obj.name); };

    var stories = [
      ["[link1: {actor}] uploaded [bold: {count || photo}] to [link2: {actor | his, her} photo album].", {
        actor: [users.michael, translateName],
        target: [users.anna, translateName],
        count: 3,
        link1: {href: ""},
        link2: {href: ""}
      }],
      ["[link1: {actor}] tagged [link2: {target}] in [warn: {count || photo}].", {
        actor: [users.alex, translateName],
        target: [users.tina, translateName],
        count: 2,
        link1: {href: ""},
        link2: {href: ""},
        warn: function(text) { return "<span style='color:red;'>" + text + "</span>"; }
      }],
      ["[link1: {actor}] liked [link2: {target::pos} post].", {
        actor: [users.tom, translateName],
        target: [users.michael, translateName],
        link1: {href: ""},
        link2: {href: ""}
      }],
      ["{users} are now friends.", {
        users: [[users.michael, users.anna], translateName]
      }],
      ["{users} joined the site.", {
        users: [
          [users.michael, users.anna, users.tom, users.alex, users.tina],
          translateName,
          {expandable: true, limit: 3, description: "{actor} and {target} are not friends."}
        ]
      }],
      ["{actor} invited {targets} to join the site.", {
        actor: [users.alex, translateName],
        targets: [
          [users.michael, users.anna, users.tom, users.tina],
          translateName,
          {expandable: true, limit: 3, description: "{actor} invited {targets} to join the site."}
        ],
        count: 3
      }]
    ];

    var sample1 = 'index';
    var sample2 = 'newsfeed';

    // choose the sample you want to run
    var sample = sample1;

    function loadTemplate(name) {
      $.ajax({
        url: "/templates/" + name + ".jst"
      }).done(function(data) {
        var template = _.template(data);
        $(document.body).html(template({restaurants: restaurants}));
      }).fail(function(jqXHR, textStatus, errorThrown) {
        $(document.body).html(errorThrown);
      });
    }

    tml.init({
      key:    "c93f6cef69c39802166b01554ddf481956a11f51bacd45243490d6b730445724",
      token:  "4618793391dbf263c9189fd8905ad0ab02c5a9d8bc5d578b59324b28329810cc",
      host:   "http://localhost:3000",
      debug:  true,
      agent: {
        enabled:  true,
        type:     "tools",
        version:  "0.1.7",
        domains:  {
          api:        "https://staging-api.translationexchange.com",
          tools:      "https://staging-translation-center.translationexchange.com",
          analytics:  "https://analyst.translationexchange.com"
        }
      },

      onLoad: function(app) {
        loadTemplate(sample);
      },
      onLanguageChange: function(language) {
        loadTemplate(sample);
      }
    });
  </script>

</head>

<body>

</body>
</html>

