doctype html
html
  head
    title Foody

    link(href='http://fonts.googleapis.com/css?family=Roboto:400,300,500,700', rel='stylesheet')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    //script(src='https://cdn.translationexchange.com/tml.js')
    script(src='http://localhost:8080/tml.js')
    script.
      tml.init("bb057772d4f70a9273d04a799bef348b83f9a8fa8ce2fca95ccdc826dda52374", {
        host: "http://localhost:3000",
        translateBody: true,
        translateTitle: true,
        ignoreClasses: ['notranslate', 'no_translation']
      });

  body(data-spy='scroll', data-target='#nav-categories')
    include partials/header
    block content
    include partials/footer
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/bootstrap.min.js')
