<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" dir="ltr">

<head>
  <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />

  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="google" value="notranslate">
  <title>Welp</title>

  <link rel="stylesheet" href="/stylesheets/style.css">

  <script src="/javascripts/jquery.min.js" type="text/javascript"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
  <script src="/javascripts/handlebars-v1.3.0.js"></script>
  <!--<script src="//cdn.translationexchange.com/tml.js"></script>-->
  <script src="http://localhost:8080/tml.js"></script>

  <script>
    tml.init({
      key:    "9f319334e0b9d2a902bf99a7994cfc9a77c071ce5511af600d66917f884e6418",
      token:  "b14a58c1b89030b712f090f2f8d9644b2767ca25ab01b73abef5711d333b14fa",
      host:   "http://localhost:3000",
      debug:  true,
      source: "handlebars",
      onLoad: function () {
        var context = {
          reviewer: {
            gender: "female",
            value: "Jane Smith"
          },
          restaurants: [
            {
              "name": "Ricky's Fish Tacos",
              "rating": 4,
              "review_count": 14,
              "last_comment": "Luckily, the perfect hot day food is a fish taco."
            },
            {
              "name": "Genwa Korean Bbq",
              "rating": 3,
              "review_count": 567,
              "last_comment": "I love love love the fact that you get 25 side dishes."
            },
            {
              "name": "Kang Hodong Baekjeong",
              "rating": 2,
              "review_count": 1,
              "last_comment": "Thick slices of juicy pastrami on rye hits the spot every time."
            },
            {
              "name": "Guisados",
              "rating": 1,
              "review_count": 14,
              "last_comment": "I can't wait to introduce more people to these orgasmic tacos."
            }
          ]
        };

        Handlebars.registerHelper("math", function (lvalue, operator, rvalue, options) {
          lvalue = parseFloat(lvalue);
          rvalue = parseFloat(rvalue);

          return {
            "+": lvalue + rvalue,
            "-": lvalue - rvalue,
            "*": lvalue * rvalue,
            "/": lvalue / rvalue,
            "%": lvalue % rvalue
          }[operator];
        });

        Handlebars.registerHelper('tr', function (label, description, options) {
          if (typeof label === "object") {
            options = label;
            description = "";
            label = options.fn();
          } else if (typeof description === "object") {
            options = description;
            description = "";
          }
          return new Handlebars.SafeString(window.tr(label, description, options.hash));
        });

        Handlebars.registerHelper('trl', function (label, description, options) {
          if (typeof label === "object") {
            options = label;
            description = "";
            label = options.fn();
          } else if (typeof description === "object") {
            options = description;
            description = "";
          }
          return new Handlebars.SafeString(window.trl(label, description, options.hash));
        });

        Handlebars.registerHelper('tml_language_selector', function (type, options) {
          return new Handlebars.SafeString(tml_language_selector(type, options.hash));
        });

        Handlebars.registerHelper('tml_block', function (options) {
          window.tml_begin_block(options.hash);
          var result = options.fn();
          window.tml_end_block();
          return result;
        });

        $.ajax({
          url: "/templates/index.hjs"
        }).done(function (data) {
          var template = Handlebars.compile(data);
          $(document.body).html(template(context));
        }).fail(function (jqXHR, textStatus, errorThrown) {
          $(document.body).html(errorThrown);
        });
      },
      onLanguageChange: function(language) {
        location.reload();
      }
    });
  </script>

</head>

<body>

</body>
</html>

